.quissce-qoin-info-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quisse-qoin-info-container-component {
    margin-bottom: 20px;
}

.quissce-qoin-info-container-component-header {
    margin-bottom: 12px;
}

.dad-form-item {
    margin-bottom: 12px;
}

.browse-dad-db-table {
    padding: 20px;
}

.transfer-modal-text {
    margin-bottom: 12px;
}

.quissce-dad-cards {
    display: flex;
}